.red{
    color: #ec2c22;
}

.container{
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-nav{
    flex-direction: row !important;
}

.navbar-light .navbar-toggler{
    border: none;
}

ul li .nav-link{
    padding-left: 30px !important;
    padding-right: 0 !important;
}

ul li a i{
    vertical-align: middle;
}

ul li a .fa-bell,
ul li a .fa-user-circle{
    font-size: 19px;
}

.fa-bars{
    font-size: 20px;
    vertical-align: middle;
}

.dropdown-divider{
    margin: .5rem auto !important;
    width: 73%;
}

.navbar-nav .dropdown-menu{
    position: absolute !important;
}

.nav-small{
    display: none;
}

@media (max-width: 992px) { 
    .nav-big{
        display: none;
    }
    .nav-small{
        display: block;
    }
    .container{
        width: 100%;
    }
}
