body {
    background-image: none;
}
.profile {
    margin-top: 20px;
}
.card-mypetition {
    /* padding: 20px; */
    width: 600px;
    height: 150px;
    border-radius: 5px;
    border-top: 1px solid #ece9ec !important;
    border-left: 1px solid #ece9ec !important;
    border-right: 1px solid #ece9ec !important;
    border-bottom: 1px solid #ece9ec !important;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    margin-left: 10px;
}
.card-mypetition a {
    text-decoration: none;
    color: black;
}
.btn-profile {
    color: #363135;
    font-weight: bold;
    background-color: #ffffff;
    border-color: #adacad;
}
.mbtn {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
nav a {
    color: black;
}
.nav a:hover{
    color: red;
}
.nav-link.active {
    color: red;
    text-decoration: underline;
    text-decoration-color: red;
    font-weight: bold;
}