body {
    background-image: none;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.btn-primary-changeorg {
    background: #ec2c22;
    color: #fff;
    border-color: #ec2c22;
}
.text-primary-link{
    color: #ec2c22;
    text-decoration: underline #ec2c22;
}
.text-primary-link:hover{
    color: black;
    text-decoration: underline black;
}